# .dockerignore
vendor/
node_modules/
.env
.git
.gitignore
README.md
storage/
tests/
.dockerignore
Dockerfile
nginx.conf
phpunit.xml
.gitattributes
.editorconfig
.env.example
package-lock.json
.DS_Store
Thumbs.db